.fbx filter=lfs diff=lfs merge=lfs -text
E:/GitRepos/Zombie-Run/Zombie-Run2/Assets filter=lfs diff=lfs merge=lfs -text
E:/GitRepos/Zombie-Run/Zombie-Run2/Assets/ThirdPartyAssets filter=lfs diff=lfs merge=lfs -text
E:/GitRepos/Zombie-Run/Zombie-Run2/Assets/Adobe[[:space:]]Mixamo/Characters/*.fbx filter=lfs diff=lfs merge=lfs -text
